<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink=""
  >
    <mat-icon>home</mat-icon>
  </button>
  <span>Claim Details Management</span>
  <div class="fill-remaining-space"></div>

  <div class="button-container">
    <button class="full-length" routerLink="/show-claims" mat-button>
      Claim
    </button>

    <button class="full-length" routerLink="/policy" mat-button>
      Policy
    </button>

    <button class="full-length" routerLink="/surveyor" mat-button>
      Surveyor
    </button>
    
  </div>
</mat-toolbar>
