<div class="container">
  <mat-card class="card">
    <h1 style="text-align: center">Welcome to Insurance Company Module</h1>
    <div class="button-container">
      <button
        color="primary"
        class="full-length"
        routerLink="/claim/new"
        mat-button
      >
        Generate Claim
      </button>
      <button
        color="accent"
        class="full-length"
        routerLink="/show-claims"
        mat-button
      >
        Show Claims
      </button>

      <button
        color="primary"
        class="full-length"
        routerLink="/claim/update"
        mat-button
      >
        Update Claim
      </button>

      <button
        color="accent"
        class="full-length"
        routerLink="/generate-surveyor-fees"
        mat-button
      >
        Release Surveyor Fees
      </button>

      <!-- <button
        color="primary"
        class="full-length"
        routerLink="/irda"
        mat-button
      >
        IRDA
      </button> -->
    </div>
  </mat-card>
</div>
